<table class="tbl-border-light tbl-striped robotTW2">
	<colgroup>
		<col width="165px">
		<col width="145px">
		<col width="145px">
		<col width="*">
		<col width="160px">
	</colgroup>
	<tbody>
		<tr>
			<td class="cell-space"><label for="input-date">{{text_date}}</label><input
				id="input-date" class="input-border inpd" type="date"
				value="{{date_init}}"></td>
			<td class="cell-space"><label for="input-time">{{text_hour}}</label><input
				id="input-time" class="input-border inpt" type="time" step="1"
				min="00:00:00" max="23:59:59" value="{{hour_init}}"></td>
			<td class="cell-space"><label for="input-ms">{{text_ms}}</label><input
				id="input-ms" class="input-border inputcreated" type="number"
				step="1" min="000" max="999" value="{{ms_init}}"></td>
			<td class="cell-space"><div class="checkbox box-border-dark">
					<div tooltip tooltip-content="{{text_full + ' = ' + enviarFull}}"
						switch-slider="" border="true" enabled="true" value="enviarFull"
						ng-click="toggleFull(this)" vertical="false" size="'56x28'">
						<div ng-class="{'box-border-dark box-filter': border}"
							class="box-border-dark box-filter">
							<div class="switch switch-56x28 switch-horizontal"
								ng-class="{'switch-checked': value}">
								<span class="size-26x26 switch-thumb"> <span
									class="simple icon-26x26-switch-off"
									ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value; 'icon-inactive': enabled == false}"></span>
								</span>
							</div>
						</div>
					</div>
				</div></td>
			<td class="cell-space"><div tooltip
					tooltip-content="{{enviarFull ? text_prog_full : text_prog}}">
					<a id="button-prog" class="btn-border btn-orange btn-prog"><span
						id="span-text" ng-click="sendAttack()">Programar</span></a>
				</div></td>
		</tr>

	</tbody>
</table>