<div class="win-content robotTW2">
	<header class="win-head">
		<h3>{{title}}</h3>
		<ul class="list-btn">
			<li><a class="size-34x34 btn-red icon-26x26-close"
				ng-click="closeWindow()"></a></li>
		</ul>
	</header>
	<div class="win-main" scrollbar="" style="position: relative;">
		<div class="box-paper content-settings">
			<div class="scroll-wrap farm" style="margin-bottom: 80px">
				<div>
					<span
						ng-class="{'icon-26x26-dot-green' : isRunning, 'icon-26x26-dot-red' : !isRunning, 'icon-26x26-dot-blue' : isRunning && paused}"></span>{{farm_running}}
				</div>
				<table class="tbl-border-light tbl-big-header tbl-content tbl-farm">
					<colgroup>
						<col width="50%">
						<col width="25%">
						<col width="*">
					</colgroup>

					<tbody>
						<tr>
							<td class="cell-right"><label for="tempo_de_percurso"
								style="margin-left: 12px; margin-right: 12px;">{{time_max}}</label><input
								class="input-border inputtime" type="time"
								id="tempo_de_percurso" step="1" min="00:00:00" max="23:59:59"
								value="{{tempo_de_percurso}}"></td>
							<td class="cell-right"><label for="inicio_de_farm"
								style="margin-left: 12px; margin-right: 12px;">{{init_hour}}</label><input
								class="input-border inputtime" type="time" id="inicio_de_farm"
								step="1" min="00:00:00" max="23:59:59"
								value="{{inicio_de_farm}}" ng-blur="blur()"></td>
							<td class="cell-right"><label for="data_inicio_de_farm"
								style="margin-left: 12px; margin-right: 12px;">{{init_date}}</label><input
								class="input-border inputdate" type="date"
								id="data_inicio_de_farm" value="{{data_inicio_de_farm}}"
								ng-blur="blur()"></td>
						</tr>
						<tr>
							<td class="cell-right"><label for="tempo_de_farm"
								style="margin-left: 12px; margin-right: 12px;">{{time_cicle}}</label><input
								class="input-border inputtime" type="time" id="tempo_de_farm"
								step="1" min="00:00:00" max="23:59:59" value="{{tempo_de_farm}}"></td>
							<td class="cell-right"><label for="termino_de_farm"
								style="margin-left: 12px; margin-right: 12px;">{{terminate_hour}}</label><input
								class="input-border inputtime" type="time" id="termino_de_farm"
								step="1" min="00:00:00" max="23:59:59"
								value="{{termino_de_farm}}" ng-blur="blur()"></td>
							<td class="cell-right"><label for="data_termino_de_farm"
								style="margin-left: 12px; margin-right: 12px;">{{terminate_date}}</label><input
								class="input-border inputdate" type="date"
								id="data_termino_de_farm" value="{{data_termino_de_farm}}"
								ng-blur="blur()"></td>
						</tr>
						<tr>
							<td class="cell-right"><label for="cmd_max"
								style="margin-left: 12px; margin-right: 12px;">{{text_cmd_max}}</label><input
								class="input-border inputcreated" type="number" id="cmd_max"
								step="1" min="0" max="50" ng-model="data.MAX_COMMANDS"
								></td>
							<td class="cell-right"><label for="min_point"
								style="margin-left: 12px; margin-right: 12px;">{{text_min_point}}</label><input
								class="input-border inputcreated" type="number" id="min_point"
								step="1" min="0" max="12000" ng-model="data.MIN_POINTS"
								></td>
							<td class="cell-right"><label for="max_point"
								style="margin-left: 12px; margin-right: 12px;">{{text_max_point}}</label><input
								class="input-border inputcreated" type="number" id="max_point"
								step="1" min="00" max="12000" ng-model="data.MAX_POINTS"
								></td>
						</tr>
						<tr>
							<td class="cell-top">
								<div class="list-collapse">
									<h5 class="twx-section collapse">{{exceptions}}</h5>
									<div>
										<table class="tbl-border-light tbl-big-header tbl-content">
											<colgroup>
												<col width="*">
												<col width="34">
											</colgroup>

											<tbody>
												<tr ng-repeat="(key, value) in list_exceptions">
													<td class="cell-right"><span>{{value.village_name}}
															- ({{value.village_x}}|{{value.village_y}})</span></td>
													<td class="cell-space"><a href="#"
														class="size-34x34 btn-red icon-26x26-close"
														ng-click="deleteException(key)"></a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</td>
							<td class="cell-top" colspan=2>
								<div class="list-collapse">
									<h5 class="twx-section collapse">{{villages_selections}}</h5>
									<div>
										<table class="tbl-border-light tbl-big-header tbl-content">
											<colgroup>
												<col width="*">
												<col width="56">
											</colgroup>

											<tbody>
												<tr ng-repeat="(key, value) in data.LIST_ATIVATE">
													<td class="cell-right"><span>{{getVillage(key)}}</span></td>
													<td class="cell-space">
														<div class="checkbox box-border-dark">
															<div switch-slider="" border="true" enabled="true"
																value="data.LIST_ATIVATE[key]" vertical="false"
																size="'56x28'" ng-model="data.LIST_ATIVATE[key]">
																<div ng-class="{'box-border-dark box-filter': border}"
																	class="box-border-dark box-filter">
																	<div class="switch switch-56x28 switch-horizontal"
																		ng-class="{'switch-checked': value, 'switch-inactive': enabled == false, 'switch-vertical': vertical == true, 'switch-horizontal': vertical == false, 'switch-premium': enabled &amp;&amp; (premium == true)}">
																		<span class="size-26x26 switch-thumb"> <span
																			class="simple icon-26x26-switch-off"
																			ng-class="{'icon-26x26-resource-premium': premium, 'icon-26x26-switch-on': value &amp;&amp; !premium, 'icon-26x26-switch-off': !value &amp;&amp; !premium, 'icon-inactive': enabled == false}"></span>
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>
		<div class="jssb-y">
			<div class="jssb-y-track">
				<div class="jssb-y-thumb">
					<div class="scrollbar-top"></div>
					<div class="scrollbar-middle"></div>
					<div class="scrollbar-bottom"></div>
				</div>
			</div>
		</div>
	</div>
	<footer class="win-foot">
		<ul class="list-btn list-center">
			<li><a id="button-start"
				class="btn-border btn-orange btn-init" ng-click="start_farm()"><span>{{start}}</span></a></li>
			<li><a id="button-stop"
				class="btn-border btn-orange btn-stop" ng-click="stop_farm()"><span>{{stop}}</span></a></li>
			<li><a id="button-pause"
				class="btn-border btn-orange btn-pause" ng-click="pause_farm()"><span>{{pause}}</span></a></li>
			<li><a id="button-resume"
				class="btn-border btn-orange btn-resume" ng-click="resume_farm()"><span>{{resume}}</span></a></li>
				<li><a class="btn-orange btn-border save" ng-click="save_farm()">{{save}}</a></li>
			<li><a class="btn-orange btn-border close"
				ng-click="closeWindow()">{{close}}</a></li>
		</ul>
	</footer>
</div>