<div class="win-content robotTW2">
	<header class="win-head">
		<h2>{{title}}</h2>
		<ul class="list-btn">
			<li><a class="size-34x34 btn-red icon-26x26-close"
				ng-click="closeWindow()"></a></li>
		</ul>
	</header>
	<div class="win-main" scrollbar="" style="position: relative;">
		<div class="box-paper content-settings">
			<div class="scroll-wrap recruit" style="margin-bottom: 80px">
				<div>
					<span
						ng-class="{'icon-26x26-dot-green' : isRunning, 'icon-26x26-dot-red' : !isRunning, 'icon-26x26-dot-blue' : isRunning && paused}"></span>{{recruit_running}}
				</div>
				<h5 class="twx-section">{{settings}}</h5>
				<div>
					<table class="tbl-border-light tbl-striped">
						<colgroup>
							<col width="33%">
							<col width="33%">
							<col width="*">
						</colgroup>
						<tr>
							<td class="cell-right"><label for="interval_recruit"
								style="margin-left: 12px; margin-right: 12px;">{{text_interval_recruit}}</label><input
								id="interval_recruit" class="input-border input-created"
								type="number" value="{{interval_recruit}}"
								ng-model="interval_recruit"></td>
							<td class="cell-right"><label for="reserva_food"
								style="margin-left: 12px; margin-right: 12px;">{{text_reserva_food}}</label><input
								id="reserva_food" class="input-border input-created" type="number"
								value="{{data.RESERVA.FOOD}}" ng-model="data.RESERVA.FOOD"></td>
							<td class="cell-right"><label for="reserva_slots"
								style="margin-left: 12px; margin-right: 12px;">{{text_reserva_slots}}</label><input
								id="reserva_slots" class="input-border input-created"
								type="number" value="{{data.RESERVA.SLOTS}}"
								ng-model="data.RESERVA.SLOTS"></td>
						</tr>
						<tr>
							<td class="cell-right"><label for="reserva_wood"
								style="margin-left: 12px; margin-right: 12px;">{{text_reserva_wood}}</label><input
								id="reserva_wood" class="input-border input-created" type="number"
								value="{{data.RESERVA.WOOD}}" ng-model="data.RESERVA.WOOD"></td>
							<td class="cell-right"><label for="reserva_clay"
								style="margin-left: 12px; margin-right: 12px;">{{text_reserva_clay}}</label><input
								id="reserva_clay" class="input-border input-created" type="number"
								value="{{data.RESERVA.CLAY}}" ng-model="data.RESERVA.CLAY"></td>
							<td class="cell-right"><label for="reserva_iron"
								style="margin-left: 12px; margin-right: 12px;">{{text_reserva_iron}}</label><input
								id="reserva_iron" class="input-border input-created" type="number"
								value="{{data.RESERVA.IRON}}" ng-model="data.RESERVA.IRON"></td>
						</tr>
						<tr>
							<td class="cell-top">
								<div class="list-collapse">
									<h5 class="twx-section">{{groups_selection}}</h5>
									<div>
										<table class="tbl-border-light tbl-striped">
											<colgroup>
												<col width="*">
											</colgroup>
											<tr>
												<td class="cell-space"><select class="input-border" id="grupo" ng-change="changeGroup()" ng-model="grupo">
														<option ng-repeat="grupo in data.GROUPS" value="{{grupo.id}}">{{grupo.name}}</option>
												</select></td>
											</tr>
										</table>
									</div>
								</div>
							</td>
							<td class="cell-top" colspan=2>
								<div class="list-collapse">
									<h5 class="twx-section collapse">{{unit_settings}}</h5>
									<div>
										<table class="tbl-border-light tbl-striped">
											<colgroup>
												<col width="*">
											</colgroup>
											<tr ng-repeat="(key, value) in data.GROUPS[grupo].units">
												<td class="cell-right"><label for=key
													style="margin-left: 12px; margin-right: 12px;">{{getText(key)}}</label><input
													id={{key}} class="input-border input-list-collapse" type="number"
													value="units[key]" ng-model="units[key]"></td>
											</tr>
										</table>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div>
			<div class="jssb-y  ">
				<div class="jssb-y-track">
					<div class="jssb-y-thumb" style="height: 55px; top: 0px;">
						<div class="scrollbar-top"></div>
						<div class="scrollbar-middle"></div>
						<div class="scrollbar-bottom"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="win-foot">
		<ul class="list-btn list-center buttons">
			<li><a id="button-start"class="btn-orange btn-border start"
				ng-click="start_recruit()">{{start}}</a></li>
			<li><a id="button-stop"class="btn-orange btn-border stop"
				ng-click="stop_recruit()">{{stop}}</a></li>
			<li><a id="button-pause"
				class="btn-border btn-orange btn-pause" ng-click="pause_recruit()"><span>{{pause}}</span></a></li>
			<li><a id="button-resume"
				class="btn-border btn-orange btn-resume" ng-click="resume_recruit()"><span>{{resume}}</span></a></li>
			<li><a id="button-save"class="btn-orange btn-border save"
				ng-click="save_recruit()">{{save}}</a></li>
			<li><a id="button-close"class="btn-orange btn-border close"
				ng-click="closeWindow()">{{close}}</a></li>
		</ul>
	</footer>
</div>

