<div class="win-content robotTW2">
	<header class="win-head">
		<h2>{{title}} ({{text_version}})</h2>
		<ul class="list-btn">
			<li><a href="#" class="size-34x34 btn-red icon-26x26-close"
				ng-click="closeWindow()"></a></li>
		</ul>
	</header>
	<table
		class="tbl-border-light tbl-border-dark tbl-big-header tbl-content tbl-headquarter">
		<colgroup>
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
		</colgroup>
		<tbody>
			<tr>
				<th class="selected cell-center" colspan="6">{{settings_standard}}</th>
			</tr>
			<tr>
				<td class="cell-right"><label for="interval_headquarter">{{text_interval_headquarter}}</label><input
					id="interval_headquarter" class="input-border inpt disabled"
					type=text value="{{getTimeRest()}}" disabled></td>
				<td class="cell-right"><label for="reserva_food">{{text_reserva_food}}</label><input
					id="reserva_food" class="input-border inputcreated" type="number"
					value="{{data_headquarter.reserva.food}}"
					ng-model="data_headquarter.reserva.food"></td>
				<td class="cell-right"><label for="reserva_slots">{{text_reserva_slots}}</label><input
					id="reserva_slots" class="input-border inputcreated" type="number"
					value="{{data_headquarter.reserva.slots}}"
					ng-model="data_headquarter.reserva.slots"></td>
				<td class="cell-right"><label for="reserva_wood">{{text_reserva_wood}}</label><input
					id="reserva_wood" class="input-border inputcreated" type="number"
					value="{{data_headquarter.reserva.wood}}"
					ng-model="data_headquarter.reserva.wood"></td>
				<td class="cell-right"><label for="reserva_clay">{{text_reserva_clay}}</label><input
					id="reserva_clay" class="input-border inputcreated" type="number"
					value="{{data_headquarter.reserva.clay}}"
					ng-model="data_headquarter.reserva.clay"></td>
				<td class="cell-right"><label for="reserva_iron">{{text_reserva_iron}}</label><input
					id="reserva_iron" class="input-border inputcreated" type="number"
					value="{{data_headquarter.reserva.iron}}"
					ng-model="data_headquarter.reserva.iron"></td>
			</tr>
			<tr>
				<td>
					<div>
						<div
							ng-class="{'icon-26x26-dot-green' : status == 'running', 'icon-26x26-dot-red' : status == 'stopped', 'icon-26x26-dot-blue' : status == 'paused'}"></div>
						{{headquarter_running}}
					</div>
				</td>
				<td class="cell-center" colspan="5" style="color: #ffff55;">{{text_seq}}</td>
			</tr>

		</tbody>
	</table>

	<div class="headquarter content-settings">
		<div class="headquarter win-main jssb-applied jssb-focus jssb-scrolly"
			scrollbar="">
			<div class="box-paper">
				<div class="scroll-wrap">

					<table
						class="tbl-border-light tbl-big-header tbl-content tbl-striped">
						<colgroup>
							<col width="500px">
							<col>
						</colgroup>
						<tbody>

							<tr>
								<th class="cell-center selected ng-binding">{{text_selections}}</th>
								<th class="cell-center selected ng-binding">{{settings}}</th>
							</tr>
							<tr>
								<td class="cell-top">
									<table id="preset-list"
										class="tbl-border-light tbl-border-dark tbl-big-header tbl-content tbl-content">
										<colgroup>
											<col width="100px">
											<col width="30px">
											<col>
										</colgroup>
										<tbody>
											<tr>
												<td>{{text_village}}</td>
												<td class="cell-center"><span
													class="icon icon-34x34-select-village"></span></td>
												<td class="cell-center"><div>
														<select id="select_village" class="select-wrapper"
															ng-options="item as item.name for item in data_select.availableOptions"
															ng-model="data_select.selectedOption"></select>
													</div></td>
											</tr>
											<tr>
												<td>{{text_type}}</td>
												<td class="cell-center"><span class="icon"></span></td>
												<td class="cell-center"><div>
														<select id="select_order" class="select-wrapper"
															ng-options="item as item.name for item in data_type.availableOptions"
															ng-model="data_type.selectedOption"></select>
													</div></td>
											</tr>
											<tr>
												<td colspan="2"><div>{{text_executebuildingorder}}</div></td>
												<td class="cell-center"><div switch-slider=""
														border="true" enabled="true"
														value="data_select.selectedOption.value.headquarter_activate"
														vertical="false" size="'56x28'">
														<div ng-class="{'box-border-dark box-filter': border}"
															class="box-border-dark box-filter">
															<div class="switch switch-56x28 switch-horizontal"
																ng-class="{'switch-checked': value}">
																<div class="size-26x26 switch-thumb">
																	<span class="simple icon-26x26-switch-off"
																		ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value; 'icon-inactive': enabled == false}"></span>
																</div>
															</div>
														</div>
													</div></td>
											</tr>
										</tbody>
									</table>
									<table id="config-apply"
										class="tbl-border-light tbl-big-header tbl-content tbl-striped tbl-content">
										<colgroup>
											<col>
											<col>
											<col>
										</colgroup>
										<tbody>
											<tr>
												<th class="selected cell-center">{{seq_flex}}</th>
												<th class="selected cell-center">{{seq_int}}</th>
												<th class="selected cell-center">{{seq_list}}</th>
											</tr>
											<tr>
												<td class="cell-center"><div id="seq_flex"
														class="position-absolute size-34x34"
														ng-class="{'btn-green icon-26x26-check-positive': data_select.selectedOption.value.seq_type == 'seq_flex', 'btn-red icon-26x26-check-negative': data_select.selectedOption.value.seq_type != 'seq_flex'}"
														ng-click="toggle_seq('seq_flex')" tooltip=""
														tooltip-content="{{seq_flex}}"></div></td>
												<td class="cell-center"><div id="seq_int"
														class="position-absolute size-34x34"
														ng-class="{'btn-green icon-26x26-check-positive': data_select.selectedOption.value.seq_type == 'seq_int', 'btn-red icon-26x26-check-negative': data_select.selectedOption.value.seq_type != 'seq_int'}"
														ng-click="toggle_seq('seq_int')" tooltip=""
														tooltip-content="{{seq_int}}"></div></td>
												<td class="cell-center"><div id="seq_list"
														class="position-absolute size-34x34"
														ng-class="{'btn-green icon-26x26-check-positive': data_select.selectedOption.value.seq_type == 'seq_list', 'btn-red icon-26x26-check-negative': data_select.selectedOption.value.seq_type != 'seq_list'}"
														ng-click="toggle_seq('seq_list')" tooltip=""
														tooltip-content="{{seq_list}}"></div></td>
											</tr>
										</tbody>
									</table>
									<table id="config-apply"
										class="tbl-border-light tbl-big-header tbl-striped tbl-content">
										<colgroup>
											<col>
											<col>
										</colgroup>
										<tbody>
											<tr>
												<td>{{text_all}}</td>
												<td>
													<ul class="list-btn list-center buttons">
														<li><a class="btn-orange btn-border start"
															ng-click="save_village()">{{APPLY}}</a></li>
													</ul>
												</td>
											</tr>

											<tr>
												<th class="selected cell-center" colspan="2">{{settings_list}}</th>
											</tr>
											<tr>
												<td>
													<ul class="list-btn list-center buttons">
														<li><a class="btn-orange btn-border start"
															ng-click="include_village()">{{INCLUDE}}</a></li>
													</ul>
												</td>
												<td>
													<ul class="list-btn list-center buttons">
														<li><a class="btn-orange btn-border start"
															ng-click="apply_village()">{{APPLY}}</a></li>
													</ul>
												</td>
											</tr>
											<tr ng-repeat="item in local_included_villages">
												<td class="content cell-left" colspan="2"><div
														class="name-wrapper">
														<div class="name">
															<ul class="list-btn">
																<li><a href="#"
																	class="size-34x34 btn-red icon-26x26-close"
																	ng-click="exclude_village(item.id)"></a></li>
															</ul>
															{{item.label}}
														</div>
													</div></td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="cell-top">

									<table id="headquarter-table"
										class="tbl-border-light tbl-big-header tbl-content tbl-striped tbl-content">
										<colgroup>
											<col>
											<col>
											<col>
										</colgroup>
										<tbody>
											<tr>
												<th class="selected cell-center"
													ng-if="data_select.selectedOption.value.seq_type == 'seq_list'">{{list}}</th>
												<th class="selected cell-center"
													ng-if="data_select.selectedOption.value.seq_type != 'seq_list'">{{priority}}</th>
												<th class="selected cell-center"
													ng-if="data_select.selectedOption.value.seq_type != 'seq_list'">{{levels}}</th>
											</tr>
											<tr>
												<td class="cell-rigth cell-top"
													ng-if="data_select.selectedOption.value.seq_type == 'seq_list'">
													<table id="headquarter-list">
														<colgroup>
															<col width="28px">
															<col width="*">
															<col width="28px">
															<col width="20%">
														</colgroup>
														<tbody>
															<tr ng-repeat="item in local_data_select_list">
																<td class="cell-center"><span>{{$index + 1}}</span></td>
																<td class="content cell-left"><div
																		class="name-wrapper">
																		<div class="span-icon" ng-class="getClass(item.name)"></div>
																		<div class="name">{{item.label}}</div>
																	</div></td>
																<td class="cell-center"><div>{{item.value}}</div></td>
																<td class="cell-center">
																	<div>
																		<div ng-show="$index > 0"
																			class="size-12x12 btn-orange icon-26x26-normal-arrow-up"
																			ng-click="upselectlist(item, $index)"></div>
																		<div
																			ng-show="$index < local_data_select_list.length - 1"
																			class="size-12x12 btn-orange icon-26x26-normal-arrow-down"
																			ng-click="downselectlist(item, $index)"></div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
												<td class="cell-rigth cell-top"
													ng-if="data_select.selectedOption.value.seq_type != 'seq_list'">
													<table id="headquarter-order">
														<colgroup>
															<col width="*">
															<col width="28px">
															<col width="20%">
														</colgroup>
														<tbody>
															<tr ng-repeat="item in local_data_select_order">
																<td class="content cell-left"><div
																		class="name-wrapper">
																		<div class="span-icon" ng-class="getClass(item.name)"></div>
																		<div class="name">{{item.label}}</div>
																	</div></td>
																<td class="cell-center"><div>{{item.value}}</div></td>
																<td class="cell-center">
																	<div>
																		<div ng-show="item.value > 1"
																			class="size-12x12 btn-orange icon-26x26-normal-arrow-up"
																			ng-click="upselectorder(item)"></div>
																		<div ng-show="item.value < 17"
																			class="size-12x12 btn-orange icon-26x26-normal-arrow-down"
																			ng-click="downselectorder(item)"></div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
												<td class="cell-right cell-top"
													ng-if="data_select.selectedOption.value.seq_type != 'seq_list'">
													<table id="headquarter-level">
														<colgroup>
															<col width="*">
															<col width="28px">
															<col width="20%">
														</colgroup>
														<tbody>
															<tr ng-repeat="item in local_data_select_limit">
																<td class="content cell-left">
																	<div class="name-wrapper">
																		<div class="span-icon" ng-class="getClass(item.name)"></div>
																		<div class="name">{{item.label}}</div>
																	</div>
																</td>
																<td class="cell-center"><div>{{item.value}}</div></td>
																<td class="cell-center"><div ng-show="getMax(item)"
																		class="size-12x12 btn-orange icon-26x26-normal-arrow-up"
																		ng-click="upselectlevel(item.name)"></div>
																	<div ng-show="item.value > 0"
																		class="size-12x12 btn-orange icon-26x26-normal-arrow-down"
																		ng-click="downselectlevel(item.name)"></div></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<footer class="win-foot">
		<ul class="list-btn list-center buttons">
			<li><a class="btn-orange btn-border start"
				ng-click="start_headquarter()">{{START}}</a></li>
			<li><a class="btn-orange btn-border stop"
				ng-click="stop_headquarter()">{{STOP}}</a></li>
			<li><a id="button-menu" class="btn-border btn-orange btn-menu"
				ng-click="menu()">{{MENU}}</a></li>
			<li><a class="btn-orange btn-border close"
				ng-click="closeWindow()">{{CLOSE}}</a></li>

		</ul>
	</footer>
</div>

