<div class="win-content robotTW2">
	<header class="win-head">
		<h2>{{settings_module}} ({{text_version}})</h2>
		<ul class="list-btn">
			<li><a class="size-34x34 btn-red icon-26x26-close"
				ng-click="closeWindow()"></a></li>
		</ul>
	</header>
	<div class="main content-settings">
		<div class="main win-main jssb-applied jssb-focus jssb-scrolly"
			scrollbar="">
			<div class="box-paper">
				<div class="scroll-wrap">
					<table class="tbl-border-light tbl-big-header tbl-striped"
						id="robottw2-main-menu">
						<colgroup>
							<col>
							<col>
							<col width="80px">
							<col width="80px">
							<col width="80px">
							<col width="80px">
							<col width="80px">					
						</colgroup>
						<tbody>
							<tr>								
								<th class="cell-center" colspan="2"><h5>{{module}}</h5></th>
								<th class="cell-center"><h5>{{state}}</h5></th>
								<th class="cell-center"><h5>{{init_standard}}</h5></th>
								<th class="cell-center"><h5>{{extension_start
										+ "/" + extension_stop}}</h5></th>
								<th class="cell-center"><h5>{{database}}</h5></th>
								<th class="cell-center"><h5>{{text_hotkey}}</h5></th>
							</tr>
							<tr>								
								<td class="cell-right" colspan="2">{{ext_all}}</td>
								<td class="cell-center"></td>
								<td class="cell-center"></td>
								<td class="cell-center"></td>
								<td>								
									<a 
										href="#" 
										tooltip tooltip-content={{clear_databases}}	
										class="size-34x34 btn-red icon-26x26-check-negative"
										ng-click="clearAllDB()"
									>
										<!--<span id="span-text" class="text">{{CLEAR}}</span>-->
									</a>
								</td>
								<td>
									<a 
										href="#" 
										tooltip 
										tooltip-content={{clear_datavillages}}
                    class="size-34x34 btn-orange icon-34x34-arrow-up"
										ng-click="updateDB()"
									>
										<!--<span id="span-text" class="text">{{UPDATE}}</span>-->
									</a>
								</td>
							</tr>
							<tr ng-repeat="ext in extensions" ng-show="ext.activated">
								<td class="cell-center">
									<div class="icon-26x26-dot-bg" tooltip
										tooltip-content="{{ext.status}}">
										<div
											ng-class="{'icon-26x26-dot-green' : ext.status == running, 'icon-26x26-dot-red' : ext.status == stopped , 'icon-26x26-dot-blue' : ext.status == paused, 'icon-26x26-dot-yellow' : ext.status == disabled}"></div>
									</div>
								</td>
								<td class="cell-right">{{ext.name}}</td>
								<td class="cell-center">
									<div class="checkbox">
										<div tooltip
											tooltip-content="{{ext.init_initialized ? ext.name + ' ' + extension_enabled : ext.name + ' ' + extension_disabled}}"
											switch-slider="" border="true"
											enabled="ext.activated && ext.name!='LOG'"
											value="ext.init_initialized" vertical="false" size="'56x28'"
											ng-click="initExt(ext)">
											<div ng-class="{'box-border-dark box-filter': border}"
												class="box-border-dark box-filter">
												<div class="switch switch-56x28 switch-horizontal"
													ng-class="{'switch-checked': value}">
													<span class="size-26x26 switch-thumb"> <span
														class="simple icon-26x26-switch-off"
														ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value; 'icon-inactive': enabled == false}"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</td>
								<td class="cell-center">
									<div class="checkbox">
										<div switch-slider="" border="true"
											enabled="ext.init_initialized && ext.name!='LOG'"
											value="ext.auto_start" vertical="false" size="'56x28'">
											<div ng-class="{'box-border-dark box-filter': border}"
												class="box-border-dark box-filter">
												<div class="switch switch-56x28 switch-horizontal"
													ng-class="{'switch-checked': value, 'switch-inactive': enabled == false}">
													<span class="size-26x26 switch-thumb"> <span
														class="simple icon-26x26-switch-off"
														ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value; 'icon-inactive': enabled == false}"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</td>								
								<td>
									<div class="checkbox">
										<div tooltip
											tooltip-content="{{extensions_status[ext.name] ? STOP : START}}"
											switch-slider="" border="true"
											enabled="ext.init_initialized && ext.name!='LOG'"
											value="extensions_status[ext.name]"
											ng-click="toggleStartStop(ext)" vertical="false"
											size="'56x28'">
											<div ng-class="{'box-border-dark box-filter': border}"
												class="box-border-dark box-filter">
												<div class="switch switch-56x28 switch-horizontal"
													ng-class="{'switch-checked': value, 'switch-inactive': enabled == false}">
													<span class="size-26x26 switch-thumb"> <span
														class="simple icon-26x26-switch-off"
														ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value; 'icon-inactive': enabled == false}"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</td>
								<td>
									<a 
										href="#" 
										tooltip
										tooltip-content="{{CLEAR + ' database ' + ext.name.toUpperCase()}}"
										class="size-34x34 btn-orange icon-26x26-check-negative"
										ng-click="clearDB(ext.name)"
									>
										<!--<span class="text">{{CLEAR + " " + ext.name.toUpperCase()}}</span>-->
									</a>
								</td>
								<td>
									<a 
										href="#" 
										tooltip
										tooltip-content="{{text_hotkey + ': ' + ext.hotkey}}"
										class="size-34x34 btn-orange icon-26x26-plus"
										ng-click="openExt(ext.name)"
										ng-class="{'btn-grey': !ext.init_initialized}"
									>
										<!--<span	id="span-text" class="text">{{OPEN + " " + ext.name.toUpperCase()}}</span>-->
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<footer class="win-foot">
		<ul class="list-btn list-center buttons">
			<li class="robotTW2-button-settings"><a
				class="btn-orange btn-border close" ng-click="closeWindow()">{{CLOSE}}</a></li>
		</ul>
	</footer>
</div>
