.robotTW2 .center {
	display: flex;
	justify-content: center
}

.robotTW2 .indicator {
	margin-rigth: 4px;
	float: right
}

.robotTW2 .tr-top {
	vertical-align: top;
}

.robotTW2 .name-wrapper {
	display: inline-block;
	height: 36px;
	float: left
}

.robotTW2 .name-wrapper .name {
	margin-top: 1px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 104px
}

.robotTW2 .name-wrapper .tribe-friend {
	color: #ff0000;
	margin-top: 1px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 104px
}

.robotTW2 .farm {
	display: flex;
}

.robotTW2 .farm .settings-farm {
	margin-left: 20px;
	margin-right: 20px;
	max-width: 900px;
}

.robotTW2 .farm .villages-farm {
	margin-left: 20px;
	margin-right: 20px;
	width: 300px;
	min-width: 240px;
}

.robotTW2 .farm .villages-exception {
	margin-left: 20px;
	margin-right: 20px;
	width: 300px;
	min-width: 240px;
}

.robotTW2 .recruit .input-created {
	width: 100px;
	min-width: 70px;
	height: 26px;
	line-height: 20px;
}

.robotTW2 .recruit .input-created.reservas{
	width: 70px;
	min-width: 50px;
}

.robotTW2 .recruit .settings-recruit {
	margin-left: 20px;
	margin-right: 20px;
}