<div class="win-content robotTW2">
	<header class="win-head">
		<h2>{{title}}</h2>
		<ul class="list-btn">
			<li><a class="size-34x34 btn-red icon-26x26-close"
				ng-click="closeWindow()"></a></li>
		</ul>
	</header>
	<div class="win-main" scrollbar="">
		<div class="box-paper content-settings">
			<div class="scroll-wrap" style="margin-bottom: 80px">
				<div>
					<table class="tbl-border-light tbl-striped">
						<colgroup>
							<col width="*">
							<col width="100px">

						</colgroup>
						<tr>
							<td class="cell-right">{{text_interval_data}}</td>
							<td><input id="input-ms" class="input-border inpt" type="time"
								step="1" min="00:00:00" max="23:59:59"
								value="{{data_data.interval | date : 'HH:mm:ss'}}"
								disabled></td>
						</tr>
						<tr>
							<td class="cell-right">{{text_interval}}</td>
							<td><input id="input-ms" class="input-border inpt disabled" type=text value="{{getTimeRest()}}" disabled></td>
						</tr>
					</table>
					
					<table class="tbl-border-light tbl-striped">
						<colgroup>
							<col width="50%">
							<col width="50%">
						</colgroup>
						<tr ng-repeat="log in data_data.logs">
							<td class="cell-right">{{log.text}}</td>
							<td class="cell-right">{{log.date}}</td>
						</tr>
						<tr>
							<td class="cell-right">{{text_interval}}</td>
							<td><input id="input-ms" class="input-border inpt disabled" type=text value="{{getTimeRest()}}" disabled></td>
						</tr>
					</table>

				</div>
			</div>
		</div>
		<div>
			<div class="jssb-y  ">
				<div class="jssb-y-track">
					<div class="jssb-y-thumb" style="height: 55px; top: 0px;">
						<div class="scrollbar-top"></div>
						<div class="scrollbar-middle"></div>
						<div class="scrollbar-bottom"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="win-foot">
		<ul class="list-btn list-center">
			<li><a id="button-start" class="btn-border btn-orange btn-init"
				ng-click="start_data()"><span>{{START}}</span></a></li>
			<li><a id="button-stop" class="btn-border btn-orange btn-stop"
				ng-click="stop_data()"><span>{{STOP}}</span></a></li>
			<li><a class="btn-orange btn-border close"
				ng-click="closeWindow()">{{CLOSE}}</a></li>
		</ul>
	</footer>
</div>

