
<div class="win-content robotTW2">
	<header class="win-head">
		<h2>{{title}}</h2>
		<ul class="list-btn">
			<li><a href="#" class="size-34x34 btn-red icon-26x26-close"
				ng-click="closeWindow()"></a></li>
		</ul>
	</header>
	<div class="tabs tabs-bg">
		<div class="tabs-two-col">
			<div ng-repeat="tabName in TAB_ORDER" class="tab"
				ng-click="userSetActiveTab(tabName)"
				ng-class="{'tab-active': activeTab === tabName}">
				<div class="tab-inner">
					<div
						ng-class="{'box-border-light': (activeTab === tabName) || (!activeTab && (requestedTab === tabName))}">
						<a href="#"
							ng-class="{'btn-icon btn-orange': (activeTab !== tabName) && (requestedTab !== tabName)}">{{tabName}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="win-main" scrollbar="" ng-if="activeTab == TABS.DEFENSE">
		<div class="box-paper content-settings screen-overview">
			<div class="version">
				<h5>{{text_version}}</h5>
			</div>
			<div class="scroll-wrap defense" style="margin-bottom: 94px">
				<h5 class="twx-section collapse">{{command_list}}</h5>
				<div>
					<table
						class="tbl-border-light tbl-big-header tbl-content tbl-striped">
						<colgroup>
							<col width="100px">
							<col width="180px">
							<col width="180px">
							<col width="45px">
							<col width="60px">
							<col width="100px">
							<col width="100px">
							<col width="100px">
							<col width="48px">
							<col width="48px">
							<col width="48px">
						</colgroup>
						<tr>
							<th style="display: table-cell" class="selected" tooltip tooltip-content="{{id_command}}"
								style="display: table-cell">{{ident_cmd}}</th>
							<th style="display: table-cell" class="icon icon-34x34-units-outgoing"
								style="display: table-cell" tooltip
								tooltip-content="{{village_sob_attack}}"></th>
							<th style="display: table-cell" class="icon icon-34x34-village" tooltip
								tooltip-content="{{village_manuever}}"
								style="display: table-cell"></th>
							<th style="display: table-cell"></th>
							<th style="display: table-cell" class="icon icon-34x34-time-remaining" tooltip
								tooltip-content="{{time_remaining}}" style="display: table-cell"></th>
							<th style="display: table-cell" class="icon icon-26x26-time" tooltip
								tooltip-content="{{time_out}}" style="display: table-cell"></th>
							<th style="display: table-cell" class="icon icon-26x26-time-arrival" tooltip
								tooltip-content="{{time_arrival}}" style="display: table-cell"></th>
							<th style="display: table-cell" class="icon icon-34x34-units-return" tooltip
								tooltip-content="{{time_return}}" style="display: table-cell"></th>
							<th style="display: table-cell" class="icon icon-26x26-arrow-left" tooltip
								tooltip-content="{{sec_ant}}" style="display: table-cell"></th>
							<th style="display: table-cell" class="icon icon-26x26-arrow-right" tooltip
								tooltip-content="{{sec_post}}" style="display: table-cell"></th>
							<th style="display: table-cell"></th>
						</tr>
						<tr ng-repeat="comando in comandos">
							<td class="cell-center"><div>{{comando.id_command}}</div></td>
							<td class="cell-center">
								<div class="village">
									<div class="name-coord"
										ng-click="jumpToVillage(comando.start_village)">
										{{getLabelStart(comando)}}</div>
								</div>
							</td>
							<td class="cell-center">
								<div class="village">
									<div class="name-coord"
										ng-click="jumpToVillage(comando.target_village)">
										{{getLabelTarget(comando)}}</div>
								</div>
							</td>
							<td class="cell-center">
								<div class="icon icon-26x26-support"></div>
							</td>
							<td class="cell-center">
								<div>{{getTimeRest(comando)}}</div>
							</td>
							<td class="cell-center">
								<div>{{getDataSend(comando)}}</div>
								<div>{{getHoraSend(comando)}}</div>
							</td>
							<td class="cell-center selected">
								<div>{{getDataAlvo(comando)}}</div>
								<div>{{getHoraAlvo(comando)}}</div>
							</td>
							<td class="cell-center selected-green">
								<div>{{getDataRetorno(comando)}}</div>
								<div>{{getHoraRetorno(comando)}}</div>
							</td>
							<td class="cell-center">
								<div>{{comando.time_sniper_ant / 1000}} s</div>
							</td>
							<td class="cell-center">
								<div>{{comando.time_sniper_post / 1000}} s</div>
							</td>

							<td class="cell-center"><a href="#"
								class="size-34x34 btn-red icon-26x26-close"
								ng-click="removeCommand(comando.id_command)" tooltip
								tooltip-content="{{exclude_button}}"></a></td>

						</tr>
					</table>
				</div>
			</div>
		</div>
		<div>
			<div class="jssb-y  ">
				<div class="jssb-y-track">
					<div class="jssb-y-thumb" style="height: 55px; top: 0px;">
						<div class="scrollbar-top"></div>
						<div class="scrollbar-middle"></div>
						<div class="scrollbar-bottom"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="win-main" scrollbar="" ng-if="activeTab == TABS.TROOPS">
		<div class="box-paper content-settings screen-overview">
			<div class="version">
				<h5>{{text_version}}</h5>
			</div>
			<div class="scroll-wrap defense" style="margin-bottom: 53px">
				<table
					class="tbl-border-light tbl-big-header tbl-content tbl-striped">
					<colgroup>
						<col width="58px">
						<col width="*">
						<col width="64px">
						<col width="160px">
						<col width="160px">

					</colgroup>
					<tr>
						<td><div ng-class="getClass(data_units.selectedOption.name)"></div></td>
						<td><select id="select_units" class="select-wrapper"
							ng-options="item as item.name for item in data_units.availableOptions track by item.name"
							ng-model="data_units.selectedOption"></select></td>
						<td><div id="switch" switch-slider="" border="true"
								enabled="true" value="data_units.selectedOption.value"
								vertical="false" size="'56x28'">
								<div ng-class="{'box-border-dark box-filter': border}"
									class="box-border-dark box-filter">
									<div class="switch switch-56x28 switch-horizontal"
										ng-class="{'switch-checked': value}">
										<div class="size-26x26 switch-thumb">
											<div class="simple icon-26x26-switch-off"
												ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value; 'icon-inactive': enabled == false}"></div>
										</div>
									</div>
								</div>
							</div></td>
						<td><a href="#" tooltip tooltip-content=""
							class="btn-orange btn-form btn-border no-padding"
							ng-click="selectAllUnits()"><span style="position: relative;"
								id="span-text" class="text">{{select_all}}</span></a></td>
						<td><a href="#" tooltip tooltip-content=""
							class="btn-orange btn-form btn-border no-padding"
							ng-click="unselectAllUnits()"><span
								style="position: relative;" id="span-text" class="text">{{unselect_all}}</span></a></td>
					</tr>
					<tr>
						<td><div class="icon icon-34x34-village"></div></td>
						<td><select id="select_villages" class="select-wrapper"
							ng-options="item as item.label for item in data_select.availableOptions track by item.name"
							ng-model="data_select.selectedOption"></select></td>
						<td><div id="switch" switch-slider="" border="true"
								enabled="true" value="data_select.selectedOption.value"
								vertical="false" size="'56x28'">
								<div ng-class="{'box-border-dark box-filter': border}"
									class="box-border-dark box-filter">
									<div class="switch switch-56x28 switch-horizontal"
										ng-class="{'switch-checked': value}">
										<div class="size-26x26 switch-thumb">
											<div class="simple icon-26x26-switch-off"
												ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value; 'icon-inactive': enabled == false}"></div>
										</div>
									</div>
								</div>
							</div></td>
						<td><a href="#" tooltip tooltip-content=""
							class="btn-orange btn-form btn-border no-padding"
							ng-click="selectAllVillages()"><span
								style="position: relative;" id="span-text" class="text">{{select_all}}</span></a></td>
						<td><a href="#" tooltip tooltip-content=""
							class="btn-orange btn-form btn-border no-padding"
							ng-click="unselectAllVillages()"><span
								style="position: relative;" id="span-text" class="text">{{unselect_all}}</span></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<footer class="win-foot">
		<ul class="list-btn list-center buttons">
			<li ng-if="activeTab == TABS.DEFENSE"><a
				class="btn-orange btn-border clear" ng-click="clear_defense()">{{CLEAR}}</a></li>
			<li><a id="button-menu" class="btn-border btn-orange btn-menu"
				ng-click="menu()">{{MENU}}</a></li>
			<li><a class="btn-orange btn-border close"
				ng-click="closeWindow()">{{CLOSE}}</a></li>
		</ul>
	</footer>
</div>