
<div class="win-content robotTW2">
	<header class="win-head">
		<h2>{{title}}</h2>
		<ul class="list-btn">
			<li><a href="#" class="size-34x34 btn-red icon-26x26-close"
				ng-click="closeWindow()"></a></li>
		</ul>
	</header>
	<div class="tabs tabs-bg">
		<div class="tabs-two-col">
			<div ng-repeat="tabName in TAB_ORDER" class="tab"
				ng-click="userSetActiveTab(tabName)"
				ng-class="{'tab-active': activeTab === tabName}">
				<div class="tab-inner">
					<div
						ng-class="{'box-border-light': (activeTab === tabName) || (!activeTab && (requestedTab === tabName))}">
						<a href="#"
							ng-class="{'btn-icon btn-orange': (activeTab !== tabName) && (requestedTab !== tabName)}">{{tabName}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="win-main" scrollbar="" ng-if="activeTab == TABS.DEFENSE">
		<div class="box-paper content-settings">
			<div class="version">
				<h5>{{text_version}}</h5>
			</div>
			<div class="scroll-wrap defense" style="margin-bottom: 53px">
				<h5 class="twx-section collapse">{{command_list}}</h5>
				<div>
					<table class="tbl-border-light tbl-big-header tbl-content tbl-striped">
						<colgroup>
							<col width="*">
							<col width="235px">
							<col width="235px">
							<col width="45px">
							<col width="60px">
							<col width="100px">
							<col width="100px">

							<col width="48px">
							<col width="48px">
							<col width="48px">
							<col width="48px">
							<col width="48px">
							<col width="48px">
							<col width="48px">
							<col width="48px">
							<col width="48px">
							<col width="48px">
							<col width="48px">
							<col width="48px">
							<col width="48px">

							<col width="34px">
						</colgroup>
						<tr>
							<td class="cell-center"><span>{{ident_cmd}}</span></td>
							<td class="cell-center"><span
								class="icon icon-34x34-units-outgoing"></span></td>
							<td class="cell-center"><span
								class="icon icon-34x34-village"></span></td>
							<td class="cell-center"></td>
							<td class="cell-center"><span
								class="icon icon-34x34-time-remaining"></span></td>
							<td class="cell-center"><span class="icon icon-26x26-time"></span></td>
							<td class="cell-center"><span
								class="icon icon-26x26-time-arrival"></span></td>
							<td class="cell-center"><span
								class="icon icon-34x34-units-return"></span></td>
							<td class="cell-center"><span
								class="icon icon-26x26-arrow-left"></span></td>
							<td class="cell-center"><span
								class="icon icon-26x26-arrow-right"></span></td>
							<td class="cell-center"></td>
						</tr>
						<tr ng-repeat="comando in comandos">
							<td class="cell-center"><span>{{comando.id_command}}</span></td>
							<td class="cell-center">
								<div class="coordinates" ng-click="jumpToVillage(comando.start_village)">
									{{getLabelStart(comando)}}
								</div>
							</td>
							<td class="cell-center">
								<div class="coordinates" ng-click="jumpToVillage(comando.target_village)">
									{{getLabelTarget(comando)}}
								</div>
							</td>
							<td class="cell-center">
								<div>
									<span class="type" ng-class="getClass(comando.type)"></span>
								</div>
							</td>
							<td class="cell-center">
								<div>
									{{getTimeRest(comando)}}
								</div>
							</td>
							<td class="cell-center">
								<div>
									{{getHoraSend(comando)}}
								</div>
							</td>
							<td class="cell-center">
								<div>
									{{getDataAlvo(comando)}}
								</div>
								<div>
									{{getHoraAlvo(comando)}}
								</div>
							</td>
							<td class="cell-center">
								<div>
									{{getHoraRetorno(comando)}}
								</div>
							</td>
							<td class="cell-center">
								<div>
									{{comando.time_sniper_ant / 1000}} s
								</div>
							</td>
							<td class="cell-center">
								<div>
									{{comando.time_sniper_post / 1000}} s
								</div>
							</td>

							<td class="cell-center"><a href="#"
								class="size-34x34 btn-red icon-26x26-close"
								ng-click="removeCommand(comando.id_command)" tooltip
								tooltip-content="{{exclude_button}}"></a></td>

						</tr>
					</table>
				</div>
			</div>
		</div>
		<div>
			<div class="jssb-y  ">
				<div class="jssb-y-track">
					<div class="jssb-y-thumb" style="height: 55px; top: 0px;">
						<div class="scrollbar-top"></div>
						<div class="scrollbar-middle"></div>
						<div class="scrollbar-bottom"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="win-main" scrollbar="" ng-if="activeTab == TABS.TROOPS">
		<div class="box-paper content-settings">
			<div class="version">
				<h5>{{text_version}}</h5>
			</div>
			<div class="scroll-wrap defense" style="margin-bottom: 53px">
				<table class="tbl-border-light tbl-big-header tbl-content tbl-striped" style="width: 690px;">
					<colgroup>
						<col width="*">
						<col width="56px">
						<col width="100px">
						<col width="100px">

					</colgroup>
					<tr>
						<td><select id="select_units" class="select-wrapper"
							ng-options="item as item.name for item in data_units.availableOptions track by item.name"
							ng-model="data_units.selectedOption"></select></td>
						<td><div id="switch" switch-slider="" border="true"
								enabled="true" value="data_units.selectedOption.value"
								vertical="false" size="'56x28'">    
								<div ng-class="{'box-border-dark box-filter': border}"
									class="box-border-dark box-filter">
									<div class="switch switch-56x28 switch-horizontal"
										ng-class="{'switch-checked': value}">
										<span class="size-26x26 switch-thumb"> <span
											class="simple icon-26x26-switch-off"
											ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value; 'icon-inactive': enabled == false}"></span>
										</span>
									</div>
								</div>
							</div></td>
						<td><a href="#" tooltip tooltip-content=""
							class="btn-orange btn-form btn-border no-padding"
							ng-click="selectAllUnits()"><span id="span-text" class="text">{{select_all}}</span></a></td>
						<td><a href="#" tooltip tooltip-content=""
							class="btn-orange btn-form btn-border no-padding"
							ng-click="unselectAllUnits()"><span id="span-text"
								class="text">{{unselect_all}}</span></a></td>
					</tr>
					<tr>
						<td><select id="select_villages" class="select-wrapper"
							ng-options="item as item.label for item in data_select.availableOptions track by item.name"
							ng-model="data_select.selectedOption"></select></td>
						<td><div id="switch" switch-slider="" border="true"
								enabled="true" value="data_select.selectedOption.value"
								vertical="false" size="'56x28'">
								<div ng-class="{'box-border-dark box-filter': border}"
									class="box-border-dark box-filter">
									<div class="switch switch-56x28 switch-horizontal"
										ng-class="{'switch-checked': value}">
										<span class="size-26x26 switch-thumb"> <span
											class="simple icon-26x26-switch-off"
											ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value; 'icon-inactive': enabled == false}"></span>
										</span>
									</div>
								</div>
							</div></td>
						<td><a href="#" tooltip tooltip-content=""
							class="btn-orange btn-form btn-border no-padding"
							ng-click="selectAllVillages()"><span id="span-text"
								class="text">Selecionar todos</span></a></td>
						<td><a href="#" tooltip tooltip-content=""
							class="btn-orange btn-form btn-border no-padding"
							ng-click="unselectAllVillages()"><span id="span-text"
								class="text">Desmarcar todos</span></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<footer class="win-foot">
		<ul class="list-btn list-center buttons">
			<li ng-if="activeTab == TABS.DEFENSE"><a
				class="btn-orange btn-border clear" ng-click="clear_defense()">{{CLEAR}}</a></li>
			<li><a id="button-menu" class="btn-border btn-orange btn-menu"
				ng-click="menu()"><span>{{MENU}}</span></a></li>
			<li><a class="btn-orange btn-border close"
				ng-click="closeWindow()">{{CLOSE}}</a></li>
		</ul>
	</footer>
</div>