<div class="win-content robotTW2">
	<header class="win-head">
		<h3>{{title}} ({{text_version}})</h3>
		<ul class="list-btn">
			<li><a class="size-34x34 btn-red icon-26x26-close"
				ng-click="closeWindow()"></a></li>
		</ul>
	</header>

	<div class="tabs tabs-bg">
		<div ng-repeat="tabName in TAB_ORDER" class="tab tab-ten"
			ng-click="userSetActiveTab(tabName)"
			ng-class="{'tab-active': activeTab === tabName}">
			<div class="tab-inner">
				<div
					ng-class="{'box-border-light': (activeTab === tabName) || (!activeTab && (requestedTab === tabName))}"
					tooltip tooltip-content="{{tabName}}">
					<a href="#"
						ng-class="{'btn-icon btn-orange': (activeTab !== tabName) && (requestedTab !== tabName)}">{{tabName}}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="content-settings">
		<div class="farm win-main jssb-applied jssb-focus jssb-scrolly"
			scrollbar="">
			<div class="box-paper">
				<div ng-if="activeTab == TABS.ATTACK">
					<div class="box-paper">
						<div class="scroll-wrap"></div>
					</div>
				</div>
				<div ng-if="activeTab == TABS.DEFENSE">
					<div class="box-paper">
						<div class="scroll-wrap"></div>
					</div>
				</div>
				<div ng-if="activeTab == TABS.DEPOSIT">
					<div class="box-paper">
						<div class="scroll-wrap"></div>
					</div>
				</div>
				<div ng-if="activeTab == TABS.FAKE">
					<div class="box-paper">
						<div class="scroll-wrap"></div>
					</div>
				</div>
				<div ng-if="activeTab == TABS.FARM">
					<div class="scroll-wrap">
						<table
							class="tbl-border-light tbl-big-header tbl-content tbl-striped">
							<colgroup>
								<col>
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th style="display: table-cell" class="cell-center selected">Teste</th>
									<th style="display: table-cell" class="cell-center selected">Teste</th>
								</tr>
							</tbody>
							<tbody class="scroll-wrap">
								<tr ng-repeat="log in data_log.farm">
									<td class="cell-left">{{log.text}}</td>
									<td class="cell-center">{{log.date}}</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				<div ng-if="activeTab == TABS.HEADQUARTER">
					<div class="box-paper">
						<div class="scroll-wrap"></div>
					</div>
				</div>
				<div ng-if="activeTab == TABS.MARKET">
					<div class="box-paper">
						<div class="scroll-wrap"></div>
					</div>
				</div>
				<div ng-if="TABS.RECON && activeTab == TABS.RECON">
					<div class="box-paper">
						<div class="scroll-wrap"></div>
					</div>
				</div>
				<div ng-if="activeTab == TABS.RECRUIT">
					<div class="box-paper">
						<div class="scroll-wrap"></div>
					</div>
				</div>
				<div ng-if="activeTab == TABS.SPY">
					<div class="box-paper">
						<div class="scroll-wrap"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="win-foot">
		<ul class="list-btn list-center buttons">
			<li><a id="button-clear" class="btn-orange btn-border clear"
				ng-click="clear_log()">{{CLEAR}}</a></li>
			<li><a id="button-menu" class="btn-border btn-orange btn-menu"
				ng-click="menu()">{{MENU}}</a></li>
			<li><a id="button-close" class="btn-orange btn-border close"
				ng-click="closeWindow()">{{CLOSE}}</a></li>
		</ul>
	</footer>
</div>
