<div class="win-content robotTW2">
	<header class="win-head">
		<h2>{{title}}</h2>
		<ul class="list-btn">
			<li><a class="size-34x34 btn-red icon-26x26-close"
				ng-click="closeWindow()"></a></li>
		</ul>
	</header>
	<div class="win-main" scrollbar="">
		<div class="box-paper content-settings">
			<div class="version">
				<h5>{{text_version}}</h5>
			</div>
			<div class="scroll-wrap main" style="margin-bottom: 100px">
				<div>
					<table class="tbl-border-light tbl-striped" id="preset-list">
						<colgroup>
							<col width="*">
							<col width="50%">
						</colgroup>
						<tbody>
							<tr>
								<td class="cell-top">
									<div class="list-collapse">
										<h5 class="twx-section collapse">{{settings_module}}</h5>
										<div>
											<table class="tbl-border-light tbl-striped" id="preset-list">
												<colgroup>
													<col width="*">
													<col width="56px">
													<col width="56px">
													<col width="100px">
													<col width="50px">
													<col width="100px">
													<col width="100px">
												</colgroup>
												<tbody>
													<tr>
														<td class="cell-center"><h5>{{module}}</h5></td>
														<td class="cell-center"><h5>{{state}}</h5></td>
														<td class="cell-center"><h5>{{init_standard}}</h5></td>
														<td class="cell-center"><h5>{{text_hotkey}}</h5></td>
														<td class="cell-center"><h5>{{text_status}}</h5></td>
													</tr>
													<tr ng-repeat="ext in extensions">
														<td class="cell-right"><span>{{ext.name}}</span></td>
														<td class="cell-center">
															<div class="checkbox box-border-dark">
																<div tooltip
																	tooltip-content="{{ext.activated ? ext.name + ' ' + extension_enabled : ext.name + ' ' + extension_disabled}}"
																	switch-slider="" border="true" enabled="ext.activated"
																	value="ext.init_initialized"
																	ng-click="toggleValueState(ext.name)" vertical="false"
																	size="'56x28'">
																	<div ng-class="{'box-border-dark box-filter': border}"
																		class="box-border-dark box-filter">
																		<div class="switch switch-56x28 switch-horizontal"
																			ng-class="{'switch-checked': value}">
																			<span class="size-26x26 switch-thumb"> <span
																				class="simple icon-26x26-switch-off"
																				ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value; 'icon-inactive': enabled == false}"></span>
																			</span>
																		</div>
																	</div>
																</div>
															</div>
														</td>
														<td class="cell-center">
															<div class="checkbox box-border-dark">
																<div switch-slider="" border="true"
																	enabled="ext.activated && ext.init_initialized"
																	value="ext.auto_start" ng-click="toggleValueInit(ext)"
																	vertical="false" size="'56x28'">
																	<div ng-class="{'box-border-dark box-filter': border}"
																		class="box-border-dark box-filter">
																		<div class="switch switch-56x28 switch-horizontal"
																			ng-class="{'switch-checked': value, 'switch-inactive': enabled == false}">
																			<span class="size-26x26 switch-thumb"> <span
																				class="simple icon-26x26-switch-off"
																				ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value; 'icon-inactive': enabled == false}"></span>
																			</span>
																		</div>
																	</div>
																</div>
															</div>
														</td>
														<td class="cell-center">{{ext.hotkey}}</td>
														<td class="cell-center">
															<div class="icon-26x26-dot-bg" tooltip
																tooltip-content="{{ext.status}}">
																<span
																	ng-class="{'icon-26x26-dot-green' : ext.status == running, 'icon-26x26-dot-red' : ext.status ==stopped , 'icon-26x26-dot-blue' : ext.status == paused, 'icon-26x26-dot-yellow' : ext.status == disabled}"></span>
															</div>
														</td>
														<td><a href="#"
															class="btn-orange btn-form btn-border no-padding btn-grey"
															ng-click="startExt(ext.name)"
															ng-class="{'btn-grey': running != ext.status}"><span><span
																	id="span-text" class="text">{{START}}</span></td>
														<td><a href="#"
															class="btn-orange btn-form btn-border no-padding btn-grey"
															ng-click="stopExt(ext.name)"
															ng-class="{'btn-grey': running == ext.status}"><span><span
																	id="span-text" class="text">{{STOP}}</span></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</td>
								<td class="cell-top">
									<div class="list-collapse">
										<table class="tbl-border-light tbl-striped" id="preset-list">
											<colgroup>
												<col width="*">
											</colgroup>
											<tbody>
												<tr>
													<td>
														<div>
															<h5 class="twx-section collapse">{{settings_main}}</h5>
															<div>
																<table class="tbl-border-light tbl-striped"
																	id="preset-list">
																	<colgroup>
																		<col width="*">
																		<col width="34px">
																	</colgroup>
																	<tbody>
																		<tr>
																			<td class="cell-right"><label
																				for="time_correction_command">{{text_time_correction_command}}</label><input
																				id="time_correction_command"
																				class="input-border inputcreated disabled" type=text
																				ng-model="data_main.time_correction_command"
																				disabled></td>
																			<td class="cell-right"><div
																					class="position-absolute btn-green size-34x34 icon-26x26-check-positive"
																					ng-click="recalibrate()" tooltip
																					tooltip-content="{{recal_button}}"></div></td>
																		</tr>
																		<tr>
																			<td class="cell-right"><label
																				for="max_time_correction">{{text_max_time_correction}}</label><input
																				id="max_time_correction"
																				class="input-border inputcreated" type=text
																				ng-model="data_main.max_time_correction"></td>
																			<td class="cell-right"><div
																					class="position-absolute btn-green size-34x34 icon-26x26-check-positive"
																					ng-click="saveCorrection()" tooltip
																					tooltip-content="{{save_button}}"></div></td>
																		</tr>

																	</tbody>
																</table>
															</div>
														</div>
													</td>
												</tr>

												<tr ng-if="extensions.DEPOSIT.ATIVATE">
													<td>
														<div>
															<h5 class="twx-section collapse">{{settings_deposit}}</h5>
															<div>
																<table class="tbl-border-light tbl-striped"
																	id="preset-list">
																	<colgroup>
																		<col width="*">
																		<col width="50%">
																	</colgroup>
																	<tbody>
																		<tr>
																			<td class="cell-right"><label
																				for="interval_deposit">{{text_interval_deposit}}</label><input
																				id="interval_deposit"
																				class="input-border inpt disabled" type=text
																				value="{{interval_deposit}}" disabled></td>
																			<td class="cell-right"><label
																				for="checkbox-interval-deposit">{{use_reroll_deposit}}</label>
																				<div id="checkbox-interval-deposit"
																					class="checkbox box-border-dark">
																					<div switch-slider="" border="true" enabled="true"
																						value="data_deposit.USE_REROLL" vertical="false"
																						size="'56x28'" ng-model="data_deposit.USE_REROLL">
																						<div
																							ng-class="{'box-border-dark box-filter': border}"
																							class="box-border-dark box-filter">
																							<div
																								class="switch switch-56x28 switch-horizontal"
																								ng-class="{'switch-checked': value, 'switch-inactive': enabled == false}">
																								<span class="size-26x26 switch-thumb"> <span
																									class="simple icon-26x26-switch-off"
																									ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value; 'icon-inactive': enabled == false}"></span>
																								</span>
																							</div>
																						</div>
																					</div>
																				</div></td>
																		</tr>

																	</tbody>
																</table>
															</div>
														</div>
													</td>
												</tr>
												<tr ng-if="extensions.RECON.ATIVATE">
													<td>
														<div>
															<h5 class="twx-section collapse">{{settings_recon}}</h5>
															<div>
																<table class="tbl-border-light tbl-striped"
																	id="preset-list">
																	<colgroup>
																		<col width="*">
																		<col width="56">
																	</colgroup>
																	<tbody>
																		<tr ng-repeat="(key, val) in data_recon.RENAME">
																			<td class="cell-right"><label
																				for="checkbox-unit-deposit">{{getKey(key)}}</label><span
																				ng-class="getClass(key)"></span>
																				<div id="checkbox-unit-recon"
																					class="checkbox box-border-dark">
																					<div switch-slider="" border="true" enabled="true"
																						value="data_recon.RENAME[key]" vertical="false"
																						size="'56x28'" ng-model="data_recon.RENAME[key]">
																						<div
																							ng-class="{'box-border-dark box-filter': border}"
																							class="box-border-dark box-filter">
																							<div
																								class="switch switch-56x28 switch-horizontal"
																								ng-class="{'switch-checked': value}">
																								<span class="size-26x26 switch-thumb"> <span
																									class="simple icon-26x26-switch-off"
																									ng-class="{'icon-26x26-switch-on': value; 'icon-26x26-switch-off': !value}"></span>
																								</span>
																							</div>
																						</div>
																					</div>
																				</div></td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div>
			<div class="jssb-y  ">
				<div class="jssb-y-track">
					<div class="jssb-y-thumb" style="height: 55px; top: 0px;">
						<div class="scrollbar-top"></div>
						<div class="scrollbar-middle"></div>
						<div class="scrollbar-bottom"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="win-foot">
		<ul class="list-btn list-center buttons">
			<li class="robotTW2-button-settings"><a
				class="btn-orange btn-border close" ng-click="closeWindow()">{{CLOSE}}</a></li>
		</ul>
	</footer>
</div>

