<div class="win-content robotTW2">
	<header class="win-head">
		<h2>{{title}}</h2>
		<ul class="list-btn">
			<li><a class="size-34x34 btn-red icon-26x26-close"
				ng-click="closeWindow()"></a></li>
		</ul>
	</header>
	<div class="tabs tabs-bg">
		<div class="tabs-two-col">
			<div ng-repeat="tabName in TAB_ORDER" class="tab"
				ng-click="userSetActiveTab(tabName)"
				ng-class="{'tab-active': activeTab === tabName}">
				<div class="tab-inner">
					<div
						ng-class="{'box-border-light': (activeTab === tabName) || (!activeTab && (requestedTab === tabName))}">
						<a href="#"
							ng-class="{'btn-icon btn-orange': (activeTab !== tabName) && (requestedTab !== tabName)}">{{tabName}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="win-main" scrollbar="" ng-if="activeTab == TABS.SPY">
		<div class="box-paper content-settings screen-overview">
			<div class="version">
				<h5>{{text_version}}</h5>
			</div>
			<div>
				<table
					class="tbl-border-light tbl-big-header tbl-content tbl-striped">
					<colgroup>
						<col width="*">
						<col width="100px">

					</colgroup>
					<tr>
						<td class="cell-right">{{text_interval_spy}}</td>
						<td><input id="input-ms" class="input-border inpt"
							type="time" step="1" min="00:00:00" max="23:59:59"
							value="{{data_spy.interval | date : 'HH:mm:ss' : 'UTC'}}"
							ng-blur="blur()"></td>
					</tr>
					<tr>
						<td class="cell-right">{{text_interval}}</td>
						<td><input id="input-ms" class="input-border inpt disabled"
							type=text value="{{getTimeRest()}}" disabled></td>
					</tr>
				</table>

			</div>

			<div class="scroll-wrap attack" style="margin-bottom: 94px">
				<h5 class="twx-section collapse">{{command_list}}</h5>
				<div>
					<table
						class="tbl-border-light tbl-big-header tbl-content tbl-striped">
						<colgroup>
							<col width="*">
							<col width="235px">
							<col width="235px">
							<col width="45px">
							<col width="60px">
							<col width="100px">
							<col width="100px">
							<col width="48px">
						</colgroup>
						<tr>
							<th style="display: table-cell" class="cell-center selected">{{ident_cmd}}</th>
							<th style="display: table-cell"
								class="icon icon-34x34-units-outgoing"></th>
							<th style="display: table-cell" class="icon icon-34x34-village"></th>
							<th></th>
							<th style="display: table-cell"
								class="icon icon-34x34-time-remaining"></th>
							<th style="display: table-cell" class="icon icon-26x26-time-spy"></th>
							<th style="display: table-cell"
								class="icon icon-26x26-time-arrival"></th>
							<th></th>
							<th></th>
						</tr>
						<tr ng-repeat="comando in comandos">
							<td class="cell-center">{{comando.id_command}}</td>
							<td class="cell-center">
								<div class="village">
									<div class="name-coord"
										ng-click="jumpToVillage(comando.start_village)">
										{{getLabelStart(comando)}}</div>
								</div>
							</td>
							<td class="cell-center">
								<div class="village">
									<div class="name-coord"
										ng-click="jumpOutVillage(comando.target_village)">
										{{getLabelTarget(comando)}}</div>
								</div>
							</td>
							<td class="cell-center">
								<div>
									<span class="type" ng-class="getClass(comando.type)"></span>
								</div>
							</td>
							<td class="cell-center">
								<div>{{getTimeRestSend(comando)}}</div>
							</td>
							<td class="cell-center">
								<div>{{getDataSend(comando)}}</div>
								<div>{{getHoraSend(comando)}}</div>
							</td>
							<td class="cell-center">
								<div>{{getDataAlvo(comando)}}</div>
								<div>{{getHoraAlvo(comando)}}</div>
							</td>
							<td class="cell-center">{{comando.spys}}</td>


						</tr>
					</table>
				</div>
			</div>



		</div>
		<div>
			<div class="jssb-y  ">
				<div class="jssb-y-track">
					<div class="jssb-y-thumb" style="height: 55px; top: 0px;">
						<div class="scrollbar-top"></div>
						<div class="scrollbar-middle"></div>
						<div class="scrollbar-bottom"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="win-main" scrollbar="" ng-if="activeTab == TABS.COMP">
		<div class="box-paper content-settings">
			<div class="version">
				<h5>{{text_version}}</h5>
			</div>
			<div>
				<table
					class="tbl-border-light tbl-big-header tbl-content tbl-striped tbl-content"
					id="preset-list">
					<colgroup>
						<col width="32px">
						<col width="*">
						<col width="32px">
						<col width="300px">
						<col width="200px">
						<col width="160px">
						<col width="160px">
					</colgroup>
					<tbody>
						<tr>
							<th class="cell-center" colspan="2">{{text_source}}</th>
							<th class="cell-center" colspan="2">{{text_target}}</th>
						</tr>
						<tr>
							<td><div class="icon icon-34x34-village"></div></td>
							<td><select id="select_order" class="select-handler"
								ng-options="item as item.label for item in data_select.availableOptions track by item.name"
								ng-model="data_select.selectedOption"></select></td>
							<td><span class="icon icon-34x34-village"></span></td>
							<td>
								<div>
									<div id="select-field" select-element=""
										ng-style="{'width': width + 'px'}"
										style="transform: translate3d(63px, 819px, 0px); width: 309px;">
										<ul class="action-list select-handler">
										</ul>
									</div>
								</div>
								<div id="autocomplete_spy" class="auto-complete-wrapper">
									<input type="text" ng-keyup="autoCompleteKey($event)"
										ng-model="inputValue" class="textfield-border"
										placeholder="{{SEARCH_MAP}}" style="width: 100%;">
								</div>
							</td>
							<td class="cell-right">
								<div>
									<label for="input-date">{{text_date}}</label><input
										id="input-date" class="input-border inpd" type="date"
										value="{{date_init}}">
								</div>
								<div>
									<label for="input-time">{{text_hour}}</label><input
										id="input-time" class="input-border inpt" type="time" step="1"
										min="00:00:00" max="23:59:59" value="{{hour_init}}">
								</div>
								<div>
									<label for="input-ms">{{text_ms}}</label><input id="input-ms"
										class="input-border inputcreated" type="number" step="1"
										min="000" max="999" value="{{ms_init}}">
								</div>
							</td>
							<td><div>
									<select id="select_qtd" class="select-handler"
										ng-options="item as item.name for item in data_qtd.availableOptions track by item.name"
										ng-model="data_qtd.selectedOption"></select>
								</div>
								<div>
									<select id="select_type" class="select-handler"
										ng-options="item as item.name for item in data_type.availableOptions track by item.name"
										ng-model="data_type.selectedOption"></select>
								</div></td>
							<td class="cell-center"><div>
									<a href="#" id="button-prog"
										class="btn-orange btn-form btn-border no-padding btn-grey"
										ng-click="sendAttackSpy()"><span id="span-text"
										class="text">{{schedule}}</span> </a>
								</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer class="win-foot">
		<ul class="list-btn list-center buttons">
			<li ng-if="activeTab == TABS.ATTACK"><a
				class="btn-orange btn-border clear" ng-click="clear_spy()">{{CLEAR}}</a></li>
			<li><a id="button-menu" class="btn-border btn-orange btn-menu"
				ng-click="menu()">{{MENU}}</a></li>
			<li><a class="btn-orange btn-border close"
				ng-click="closeWindow()">{{CLOSE}}</a></li>
		</ul>
	</footer>

</div>