<body>
	<section id="section_login" class="section section-bg">
		<div class="container">
			<div class="login_box box-style">
				<h3>Sistema Chaos Dynasty</h3>
				<ul class="login-register-menu js-tabmenu">
					<li class="login-button">Login</li>
					<li class="register-button">Registrar</li>
				</ul>

				<div class="js-tabcontent" style="width: 100%;">
					<form ng-show="worlds" name="form" ng-submit="login()" role="form"
						class="login_form">
						<div class="input-box">
							<label for="escolha_mundo">Selecione o Mundo</label> <select
								name="escolha_mundo" id="select_world"
								ng-options="item as item.world_id for item in worlds"
								ng-model="world" ng-change="toggleSelect(world)" required></select>
						</div>
						<div class="input-box form-group" ng-show="world"
							ng-class="{ 'has-error': form.nickname.$dirty && form.nickname.$error.required }">
							<label for="nickname">Nickname</label> <input name="nickname"
								id="nickname" type="text" class="form-control"
								ng-model="nickname" ng-focus="error = undefined" required><span
								ng-show="form.nickname.$dirty && form.nickname.$error.required"
								class="help-block">Nickname requerido</span>
						</div>
						<div class="input-box form-group" ng-show="world"
							ng-class="{ 'has-error': form.pass.$dirty && form.pass.$error.required }">
							<label for="pass">Senha</label> <input name="pass" id="pass"
								type="password" class="form-control" ng-model="pass"
								ng-focus="error = undefined" required><span
								ng-show="form.pass.$dirty && form.pass.$error.required"
								class="help-block">Senha requerida</span>
						</div>
						<div ng-show="world && nickname" class="form-actions">
							<button type="submit" ng-disabled="form.$invalid || dataLoading">login</button>
						</div>
					</form>

					<form class="register_form" ng-submit="register()" role="form">
						<div class="input-box form-group" ng-show="characters">
							<label for="nick">Nickname</label> <select ng-model="character"
								ng-options="character.name for character in characters" required></select>
						</div>
						<div class="input-box form-group" ng-show="world && character"
							ng-class="{ 'has-error': form.pass.$dirty && form.pass.$error.required }">
							<label for="senha">Senha</label> <input name="pass" id="pass"
								type="password" class="form-control" ng-model="user.pass"
								required><span
								ng-show="form.pass.$dirty && form.pass.$error.required"
								class="help-block">Senha requerida</span>
						</div>
						<div ng-show="world && character" class="form-actions">
							<button type="submit" ng-disabled="form.$invalid || dataLoading">Registrar</button>
						</div>
					</form>
				</div>


			</div>
		</div>
	</section>

</body>