<div class="page-header">
	<div class="container-fluid">
		<div class="row">
			<div
				class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
				<h2>Login</h2>
				<img ng-if="dataLoading"
					src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
				<form ng-show="worlds" name="form" ng-submit="login()" role="form">
					<div class="form-group">
						<label>Mundo </label> <select ng-model="world"
							ng-options="world.name for world in worlds" required></select>
					</div>
					<div class="form-group" ng-show="world">
						<label>Tribo </label> <select ng-model="tribe"
							ng-options="tribe.name for tribe in tribes" required></select>
					</div>
					<div ng-show="world && tribe" class="form-group"
						ng-class="{ 'has-error': form.nickname.$dirty && form.nickname.$error.required }">
						<label for="nickname">Nickname</label> <input type="text"
							name="nickname" id="nickname" class="form-control"
							ng-model="nickname" ng-focus="error = undefined" required /> <span
							ng-show="form.nickname.$dirty && form.nickname.$error.required"
							class="help-block">Nickname requerido</span>
					</div>
					<div ng-show="world && tribe" class="form-group"
						ng-class="{ 'has-error': form.pass.$dirty && form.pass.$error.required }">
						<label for="pass">Password</label> <input type="password"
							name="pass" id="pass" class="form-control" ng-model="pass"
							ng-focus="error = undefined" required /> <span
							ng-show="form.pass.$dirty && form.pass.$error.required"
							class="help-block">Password requerido</span>
					</div>
					<div ng-show="world && tribe && passalt" class="form-group"
						ng-class="{ 'has-error': form.pass.$dirty && form.pass.$error.required }">
						<label for="newpass">Novo password</label> <input type="password"
							name="newpass" id="newpass" class="form-control"
							ng-model="newpass" ng-focus="error = undefined" /> <span
							ng-show="form.newpass.$dirty && form.newpass.$error.required"
							class="help-block">Novo password requerido</span>
					</div>
					<div ng-show="world && tribe && !passalt" class="form-actions">
						<button type="submit" ng-disabled="form.$invalid || dataLoading"
							class="btn btn-primary">Logar</button>
					</div>
				</form>
				<br>
				<div ng-show="world && tribe" class="form-group"
					ng-class="{ 'has-error': form.pass.$dirty && form.pass.$error.required }">
					<button ng-show="world && tribe && !passalt"
						ng-disabled="form.$invalid || dataLoading" class="btn btn-primary"
						ng-click="passalt = true">Alterar senha</button>
					<button ng-show="world && tribe && passalt"
						ng-click="alterar_pass()"
						ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Enviar</button>
					<button ng-show="world && tribe && passalt"
						ng-click="passalt = undefined" class="btn btn-primary">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</div>