<div class="page-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div style="text-align: center"
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Reservas</h3>
						<div ng-show="progress" class="progress">
							<div class="status" style="width: 0%"></div>
						</div>
						<p ng-show = "villages.length > 0">
							<button class="btn btn-primary" type=button
								ng-click="clearReservation(reservation)">Nova reserva</button>
						</p>
					</div>
				</div>

				<div class="row">
					<form name="form" ng-submit="salvar()" ng-show="alterando"
						role="form">
						<div class="form-group">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<label>Localizar </label><input type="text"
									ng-model="village_search">
							</div>
							<br>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<label>Selecione a aldeia </label> <select
									ng-options="village as village.x + '/' + village.y + ' ' + village.name + ' ' + ' - ' + village.status for village in vills track by village.id"
									ng-model="village"></select>
							</div>
						</div>
						<hr>
						<div class="form-actions">
							<button type="submit" ng-disabled="form.$invalid"
								class="btn btn-primary">Salvar</button>
							<button class="btn btn-primary" type=button
								ng-click="alterando = undefined">Cancelar</button>
						</div>
					</form>
				</div>


				<div class="row">
					<div ng-show="!alterando"
						class=" modal-body col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h4 style="text-align: center">Suas reservas</h4>
							</div>
						</div>

						<hr>
						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<label>Aldeia</label>
							</div>
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<label>Data da reserva</label>
							</div>
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<label>Data de vencimento</label>
							</div>
							<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
								<label>Tipo</label>
							</div>
						</div>
						<hr>
						<div class="row" ng-repeat="reservation in reservations"
							style="height: 40px">
							<span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{reservation.village_name}}
								- {{reservation.village_x}}/{{reservation.village_y}}</span> <span
								class="col-xs-2 col-sm-2 col-md-2 col-lg-2" formato-data = 'formato_datetime'>{{reservation.stampreservations}}</span>
							<span class="col-xs-2 col-sm-2 col-md-2 col-lg-2" formato-data = 'formato_datetime'>{{reservation.due_date}}</span>
							<span class="col-xs-1 col-sm-1 col-md-1 col-lg-1" translate-type = 'tradtable'>{{reservation.affiliation}}</span>
							<span class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<button class="btn btn-danger" type=button
									ng-click="excluir_reserv(reservation)">Excluir</button>
							</span>
						</div>
						<hr>
					</div>
					
					<div ng-show="!alterando"
						class="modal-body col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h4 style="text-align: center">Reservas geral</h4>
							</div>
						</div>

						<hr>
						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<label>Aldeia</label>
							</div>
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<label>Tipo</label>
							</div>
							<div ng-show="authorized" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<label>Data da reserva</label>
							</div>
							<div ng-show="authorized" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<label>Vencimento</label>
							</div>
							<div ng-show="authorized" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<label>Jogador</label>
							</div>
						</div>
						<hr>
						<div class="row" ng-repeat="reserv in reservations_tribe"
							style="height: 40px">
							<span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{reserv.village_name}}
								- {{reserv.village_x}}/{{reserv.village_y}}</span> 
								<span ng-show="authorized" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" translate-type = 'tradtable'>{{reserv.affiliation}}</span>
								<span ng-show="authorized" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" formato-data = 'formato_datetime'>{{reserv.stampreservations}}</span>
							<span ng-show="authorized" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" formato-data = 'formato_datetime'>{{reserv.due_date}}</span>
							<span ng-show="authorized" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >{{reserv.character_name}}</span>
								
						</div>
						<hr>
					</div>

				</div>

				<div class="footer">
					<div style="text-align: center"
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<a href="./" class="btn btn-primary" role="button">Voltar</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>