@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

div {
  display: block;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &.section-bg {
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: url(../../../imgs/black-linen.png) repeat, linear-gradient(to right, #1F1C18, #8E0E00);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .box-style {
      background: #FFFFFF;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      overflow: hidden;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h3 {
        margin: 0 0 10px 0;
        background: #8E0E00;
        width: 100%;
        text-align: center;
        color: #FFFFFF;        
        font-weight: bold;
        padding: 20px;
      }
    }

    .input-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 0 20px 0;

      label {
        width: 100%;
        margin-bottom: 3px !important;
      }

      input {
        width: 100%;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        border: 1px solid #dddddd;
        box-shadow: inset 0 0 12px #dddddd;
      }
    }
  }

}