#section_login {
  min-height: 100vh;

  .container {   
    .login_box {      
      max-width: 360px;          

      .login-register-menu {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 30px;

        li {
          cursor: pointer;
          background: #c01212;
          padding: 12px 25px;
          color: #FFFFFF;          
          width: 50%;
          text-align: center;
          position: relative;
          font-weight: bold;

          @include small {
            padding: 12px 10px;
          }

          &.ativo {
            background: #8E0E00;

            &::before {
              bottom: -30px;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              border-width: 15px;
              margin-left: -15px;
              border-bottom-color: #8E0E00;
              transform: rotate(180deg);
            }
          }
        }
      }

      .login_form,
      .register_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 30px;

        .input-box {         
          select {
            width: 100%;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
            box-shadow: inset 0 0 12px #dddddd;
          }
   
        }

        button {          
          outline: 0;
          background: #c01212;
          width: 100%;
          border: 0;
          padding: 15px;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: bold;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          cursor: pointer;
          margin-top: 30px;
          font-weight: bold;

          &:hover,
          &:focus,
          &:active {
            background: #8E0E00;
          }
        }

      }
    }
  }
}

.js-tabcontent {
  form {
    display: none !important;

    &.ativo {
      display: flex !important;
      animation: show .5s forwards;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}