// Small devices
$screen-sm-min: 480px;

// Medium devices
$screen-md-min: 768px;

// Large devices
$screen-lg-min: 992px;

// Extra large devices
$screen-xl-min: 1200px;

// Small devices
@mixin small {
  @media (max-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin medium {
  @media (max-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin large {
  @media (max-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin extralarge {
  @media (max-width: #{$screen-xl-min}) {
      @content;
  }
}