<div id="notification-controller" ng-controller="NotificationController"
	class="wide-modal achievement"
	ng-class="{'from-right': !wideModal,'bottom-right': visible &amp;&amp; !wideModal, 'wide-modal': wideModal}"
	ng-click="hide(notificationId, type)">
	<canvas ng-show="type === ACHIEVEMENT" id="notificationCanvas"
		width="500" height="250" class=""></canvas>
	<!-- ngIf: title && type !== NEWS -->
	<div ng-if="title &amp;&amp; type !== NEWS"
		class="header-achievement ng-scope">
		<div ng-bind="title" class="content ng-binding">Conquista</div>
	</div>
	<!-- end ngIf: title && type !== NEWS -->
	<!-- ngIf: title && notificationId && type === NEWS -->
	<!-- ngIf: type !== SPECIALOFFER -->
	<div ng-if="type !== SPECIALOFFER"
		class="twx-notification-content message-content box-paper-full message-achievement">
		<div ng-show="type === NEWS"
			class="cancel size-26x26 btn-red icon-20x20-close ng-hide"
			ng-click="cancel(content); hide(notificationId);"></div>
		<div class="wrap">
			<div class="box-border-dark">
				<div
					class="icons  icon-90x90-achievement-looted_village_daily_tribe"></div>
			</div>
		</div>
		<div class="message-wrap box-border-light">
			<div class="message">
				<span ng-bind-html="content" class="ng-binding">Parabéns!
					Você ganhou o Marco número 1 da Conquista 'Saqueador do Dia'!</span>
			</div>
		</div>
	</div>
	<!-- end ngIf: type !== SPECIALOFFER -->
	<!-- ngIf: type === SPECIALOFFER -->
</div>