<div class="win-content robotTW2">
	<header class="win-head">
		<h2>{{title}} ({{text_version}})</h2>
		<ul class="list-btn">
			<li><a class="size-34x34 btn-red icon-26x26-close"
				ng-click="closeWindow()"></a></li>
		</ul>
	</header>
	<div class="content-settings">
		<div class="farm win-main jssb-applied jssb-focus jssb-scrolly"
			scrollbar="">
			<div class="box-paper">
				<div class="scroll-wrap">
					<table
						class="tbl-border-light tbl-big-header tbl-content tbl-striped">
						<colgroup>
							<col width="*">
							<col width="100px">

						</colgroup>
						<tr>
							<td class="cell-right">{{text_interval_village}}</td>
							<td><input id="input-ms" class="input-border inpt"
								type="time" step="1" min="00:00:00" max="23:59:59"
								value="{{data_secondvillage.interval | date : 'HH:mm:ss'}}"
								disable></td>
						</tr>
						<tr>
							<td class="cell-right">{{text_interval}}</td>
							<td><input id="input-ms" class="input-border inpt disabled"
								type=text value="{{getTimeRest()}}" disabled></td>
						</tr>
					</table>

				</div>
			</div>
		</div>
	</div>
	<footer class="win-foot">
		<ul class="list-btn list-center buttons">
			<li><a id="button-menu" class="btn-border btn-orange btn-menu"
				ng-click="menu()">{{MENU}}</a></li>
			<li class="robotTW2-button-settings"><a
				class="btn-orange btn-border close" ng-click="closeWindow()">{{CLOSE}}</a></li>
		</ul>
	</footer>
</div>

